@using IdeaPitcher.DAL.Data;
@using Microsoft.AspNetCore.Authorization;
@model IdeaPitcherUser;

@{
    ViewData["Title"] = "Change_Idea_User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Change_2FactorAuth</h1>
<form method="post" >
    <div class="form-group" style="color : #81DE65">
        <div class="form-check">
        <input class="form-check-input" asp-for="TwoFactorEnabled" type="radio" id="option1" name="contentModel" value="False" />
            False
            <label class="form-check-label" for="option1"></label>
        </div>
        <br />
        <div class="form-check">

            <input class="form-check-input" asp-for="TwoFactorEnabled" type="radio" id="option2" name="contentModel" value="True" />
            True
            <label class="form-check-label" for="option2"></label>
        </div>
        

            <input class="form-check-input" asp-for="TwoFactorEnabled" type="checkbox" id="option1" name="obj" value="true" />
            Enable
            <label class="form-check-label" for="option1"></label>
        </div>
        <br />

        <button type="submit" class="btn btn-primary">Update</button>
    </div>

    
</form>