@using IdeaPitcher.DAL.Data;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdeaPitcherUser> SignInManager
@inject UserManager<IdeaPitcherUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        var profileImageUrl = $"~/ideas/Profileimg/{user.ProfileImagePath}";
        var userName = User.Identity?.Name ?? "User";
        var defaultprofileImageUrl = $"~/ideas/Images/Profileimg-default.png";

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                @if (user.ProfileImagePath == null)
                {
                   @*<img src="@Url.Content(defaultprofileImageUrl)"  width="30" height="30" />*@
                }
                <img src="@Url.Content(profileImageUrl)" class="rounded-circle" width="30" height="30" />
                <span class="ml-1">@userName</span>
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
